<div class="flex flex-col gap-2"
     [formGroup]="form"
     *ngrxLet="vm$; let vm">
  <div>{{index + 1}}. Step: <span class="font-medium">{{form.value.event?.type ?? 'Unnamed step'}}</span></div>

  <div class="flex gap-8">
    <!-- Event filter -->
    <app-select-search placeholder="Select an event"
                       [options]="vm.eventData.events"
                       [displayWith]="eventDisplayWithFn"
                       labelPropertyPath="type"
                       formControlName="event">
    </app-select-search>

    <!-- Property filters -->
    <div class="flex flex-col gap-4">
      <div>1</div>
      <div>2</div>
      <div>3</div>

      <button mat-button color="primary" type="button" (click)="onRefineMoreClick()">Refine more</button>
    </div>
  </div>
</div>
