<div class="flex gap-2"
     [formGroup]="form">
  <!-- Property filter -->
  <app-autocomplete-search class="w-48"
                           placeholder="Select an attribute"
                           [options]="properties"
                           [displayWith]="propertyDisplayWithFn"
                           labelPropertyPath="property"
                           formControlName="property">
  </app-autocomplete-search>

  <ng-container *ngIf="form.value.property">
    <!-- Operator -->
    <app-operator-selector class="w-56"
                           formControlName="operator"></app-operator-selector>

    <!-- Value -->
    <app-value-input formControlName="value"
                     [operator]="form.value.operator"
                     *ngIf="form.value.operator"></app-value-input>
  </ng-container>

  <button class="mt-1"
          mat-icon-button
          type="button"
          (click)="onDeleteClick()">
    <mat-icon>close</mat-icon>
  </button>
</div>
