<div class="flex gap-2"
     [formGroup]="form">
  <!-- Property filter -->
  <app-autocomplete-search class="w-48"
                     placeholder="Select an attribute"
                     [options]="properties"
                     [displayWith]="propertyDisplayWithFn"
                     labelPropertyPath="property"
                     formControlName="property">
  </app-autocomplete-search>

  <!-- Operator -->

  <!-- Value -->

  <button class="mt-1" mat-icon-button
          type="button"
          (click)="onDeleteClick()">
    <mat-icon>close</mat-icon>
  </button>
</div>
