@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply min-h-full;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  @apply m-0 p-4 flex justify-center;
}

.mat-mdc-select-panel.operator-selector {
  @apply overflow-hidden;
  padding: 0 !important;

  .mat-mdc-tab.mdc-tab {
    @apply h-16;
  }
}
